*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
/* Navbar style */
.navbar{
    background-color: #121212;
}
.navbar-brand {
    color: orangered;
    padding-bottom: 1.5em;
}
.nav-link:hover {
    color: orangered;
    
}


.nav-item {
    padding-right: 200px;
   
}

.nav-link {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: azure;

}
/* inicio */
.contenedor-img img{
    border-radius: 60%;
}
.inicio{
    background: linear-gradient(to top,rgb(30, 35, 38,.8),rgb(30, 35, 38,1)),
    url(/img/pexels-swapnil-sharma-3274210.jpg);
    background-size: cover;
    height: 100vh;
    align-items: center;
    display: flex;
    color: azure;

}
.inicio .conteiner-banner{
    padding: 20px;
    background-color: #1E1E1E;
}

